@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
*{
    background-color: rgb(234, 183, 121);
    font-family: 'PT Serif', serif;
}
.display{
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
}
